body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ddeefc;
  color: #676b70;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

form {
  grid-row-start: 2;
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-template-columns: 100%;
  width: 90%;
  justify-self: center;
}

button {
  width: 100%;
  background-color: #2364d2;
  color: white;
  border-radius: 5px;
  border: none;
  height: 50px;
  box-sizing: border-box;
  font-size: 22px;
  font-weight: 500;
  margin-top: 20px;
}

label {
  font-size: small;
  justify-self: start;
  height: 6px;
}

input[type='text'] {
  border-radius: 5px;
  border: solid 1px #cdd6e0;
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  font-size: 18px;
}

select {
  border-radius: 5px;
  border: solid 1px #cdd6e0;
  width: 100%;
  height: 50px;
  box-sizing: border-box;
}

.App {
  max-width: 500px;
  margin: 30px auto;
  text-align: center;
}

.formContainer {
  display: grid;
  grid-template-rows: 30% 70%;
}

.rowContainer {
  display: grid;
  width: 100%;
  grid-template-columns: 30% 30% 1% 30%;
  grid-column-gap: 3%;
  grid-template-rows: 20px auto;
}

.monthSelector {
  grid-column-start: 1;
  font-size: 18px;
}
.yearSelector {
  grid-column-start: 2;
  font-size: 18px;
}

label[for='CVV'] {
  grid-column-start: 4;
  grid-row-start: 1;
}

.rowContainer input {
  grid-column-start: 4;
}
